// *************************************
//
//   Main
//   -> Loader for stylesheets
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

@import "base/colors";
@import "base/base";

// -------------------------------------
//   Modules
// -------------------------------------

@import "modules/letter_updater";
@import "modules/boxes";


// -------------------------------------
//   Temporary styles
// -------------------------------------

.row  {
  max-width: 97%;
}

.active {
  fill: $base-contrast;
}

.clicked {
  fill: $base-contrast-dark;
}
