.box-down {
  height: 130px;

  font-size: 3em;
  text-align: center;

  background: $base-contrast;

  a {
    color: white;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }
}


.left-menu {
  height: 100%;
}

