.box-down {
  height: 130px;

  font-size: 3em;
  text-align: center;

  background: $base-contrast-dark;

  a {
    color: white;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }
}


.content-menu {
  background: $base-contrast-dark;
  padding: 45px;
  color: white;
}

.content-box {
  position: relative;
  border-top: 1px solid;
  padding: 15px;

  header {
    position: absolute;
    top: -49px;
    border-bottom: 3px solid;
  }
}

.full-height {
  height: 100%;
}
